<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgenciaTravelEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5FNRJ15;initial catalog=AgenciaTravel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
        <add name="SDEPAZ_GuateMayanTravelAgency.My.MySettings.nuevaConexion"
            connectionString="Data Source=DESKTOP-5FNRJ15;Initial Catalog=AgenciaTravel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>